
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo()
    .Grid<Behemoth.Games.Areas.Admin.Models.UserViewModel>()
    .Name("users-grid")
    .Columns(columns =>
    {
        columns.Bound(model => model.Username);
        columns.Bound(model => model.Role).Width(200).EditorTemplateName("EditUserRole");
        columns.Command(command =>
            {
                command.Edit();
                
            });
    })
    .Pageable()
    .Sortable()
    .Selectable()
        .Editable(edit =>
            {
                edit.Mode(GridEditMode.InLine);
            })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m =>
            {
                m.Id(c => c.Id);
                m.Field(f => f.Username).Editable(false);
            })
            .PageSize(5)
            .ServerOperation(true)
            .Read("ReadUsers", "UsersAdmin")
            .Update("UpdateUser", "UsersAdmin");

    })
)


<script>

</script>