@model IEnumerable<Behemoth.Models.Game>

<ul class="thumbnails">
    @foreach (var game in Model)
    {
        <li class="span2">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" style="width: 200px" src=@("/img/" + game.ImageUrl) alt="">

                <h4>
                    @{
                        string gameName = game.Name;

                        if (gameName.Length > 15)
                        {
                            gameName = gameName.Substring(0, 15) + "...";
                        }
                    }

                    @Html.ActionLink(gameName, "Details", "Games", new { id = game.Id }, null)
                    
                </h4>
                <p>
                @Ajax.ActionLink("Remove", "GetFavouriteGames", "Games", new { gameId = game.Id },
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "games-container",
                                            HttpMethod = "GET",
                                            InsertionMode = InsertionMode.Replace,
                                        }, new { @class = "btn btn-primary" })
                
                </p>
            </div>
        </li>
    }
</ul>

